body {
    background-color: rgb(185, 180, 173);
    color: "f7f7f7";
}
.jumbotron {
  background-image: url("../img.jpg");
  background-size: 100% 100%;
  text-align: center;
  color:rgb(221, 8, 8);
  font-family: cursive;
}
